body{
    color: #E5E5E5;
    font-family: Roboto;
    font-weight: 400 500 700 900;
}
.link-studio-header{
    text-decoration: none;
    font-family: Raleway;
    color: #000;
}
.link-studio-footer{
    text-decoration: none;
    font-family: Raleway;
    color: #fff;
}
.accent{
    color: #2196F3;  
}
.link{
    text-decoration: none;
}
.address-bar{
    background-color: #2F303A;
}
li{
    list-style: none;
}
.button:hover,
.button:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}