body{
    color: #E5E5E5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400 500 700 900;
}
.link-studio-header{
    text-decoration: none;
    font-family: Raleway;
    color: #000;
}
.link-studio-footer{
    text-decoration: none;
    font-family: Raleway;
    color: #fff;
}
.accent{
    color: #2196F3;  
}
.link{
    text-decoration: none;
}
.address-bar{
    background-color: #2F303A;
}
.list{
    list-style: none;
    color: #212121;
    ;
}
.button{
    color: #212121;
    background-color: #F5F4FA;
}
.big-button,
.button:hover,
.button:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}
.contact{
    color: #757575;
    ;
}
.navigation{
    color: #212121;
}
.contact:hover,
.contact:focus,
.navigation:focus,
.navigation:hover{
    color: #2196F3;
}
.fact-adress{
    color: #FFFFFF;
}
.text{
    color: #212121;
}
.white-text{
    color: #FFFFFF;
    background-color: #2F303A;
}